.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
TestResults/
BenchmarkDotNet.Artifacts/

artifacts/*
!artifacts/.gitkeep
!artifacts/logs/
!artifacts/logs/.gitkeep
artifacts/logs/*
!artifacts/logs/.gitkeep
!artifacts/packages/
!artifacts/packages/.gitkeep
artifacts/packages/*
!artifacts/packages/.gitkeep
!artifacts/performance/
artifacts/performance/*
!artifacts/performance/.gitkeep

*.nupkg
*.snupkg
*.msix
*.msixbundle
*.appx
*.appxbundle
*.cer
*.pfx
*.log

repositorios/
